<tr class="small">
    <td></td>
    <td><%= link_to part.part_number, part_path(part) %></td>
    <td><%= part.revision %></td>
    <td><%= part.drawing %></td>
    <td>above</td>
    <td><%= part.base_material %></td>
    <td><%= part.finish %></td>
    <td><%= part.measured_status %></td>
</tr>
