<script>
  document.addEventListener("turbo:load", function() {
    const baseSelector = document.getElementById("base_selector");
    const baseMaterialField = document.getElementById("base_material_field");
    const subcomponentField = document.getElementById("subcomponent_field");
    const subcomponentMaterialField = document.getElementById("subcomponent-material-field");
    const childFieldsContainer = document.getElementById("child-fields-container");
    const addChildFieldButton = document.getElementById("add-child-field");

    let childFieldCount = 1;

    function updateFieldVisibility() {
      const selectedValue = baseSelector.value;

      if (selectedValue === "no") {
        baseMaterialField.style.display = "block";
        baseMaterialField.setAttribute("name", "part[base_material]");
        subcomponentField.style.display = "none";
        subcomponentMaterialField.removeAttribute("name");
      } else {
        baseMaterialField.style.display = "none";
        baseMaterialField.removeAttribute("name");
        subcomponentField.style.display = "block";
        subcomponentMaterialField.setAttribute("name", "part[base_material]");
      }
    }

    if (baseSelector !== null) {
      baseSelector.addEventListener("change", updateFieldVisibility);
    }

    addChildFieldButton.addEventListener("click", function() {
      const newChildField = document.createElement("div");
      newChildField.classList.add("child-field", "d-flex", "small");
      newChildField.id = `child${childFieldCount}`;

      newChildField.innerHTML = `
  <ul class="list-unstyled">
    <li class="mb-3">
      <div class="d-flex justify-content-between align-items-center">
        <label for="child${childFieldCount}_part_number" class="form-label mb-0">Part number</label>
        <input id="child${childFieldCount}_part_number" type="text" name="subcomponents[child${childFieldCount}][part_number]" class="form-control w-50">
      </div>
    </li>
    <li class="mb-3">
      <div class="d-flex justify-content-between align-items-center">
        <label for="child${childFieldCount}_revision" class="form-label mb-0">Revision</label>
        <input id="child${childFieldCount}_revision" type="text" name="subcomponents[child${childFieldCount}][revision]" class="form-control w-50">
      </div>
    </li>
    <li class="mb-3">
      <div class="d-flex justify-content-between align-items-center">
        <label for="child${childFieldCount}_base_material" class="form-label mb-0">Base material</label>
        <input id="child${childFieldCount}_base_material" type="text" name="subcomponents[child${childFieldCount}][base_material]" class="form-control w-50">
      </div>
    </li>
    <li class="mb-3">
      <div class="d-flex justify-content-between align-items-center">
        <label for="child${childFieldCount}_finish" class="form-label mb-0">Finish</label>
        <input id="child${childFieldCount}_finish" type="text" name="subcomponents[child${childFieldCount}][finish]" class="form-control w-50">
      </div>
    </li>
    <li class="text-center mt-3">
      <button type="button" class="remove-child-field btn btn-danger">Remove</button>
    </li>
  </ul>`;

      childFieldsContainer.appendChild(newChildField);
      childFieldCount++;
    });

    childFieldsContainer.addEventListener("click", function(event) {
      if (event.target.classList.contains("remove-child-field")) {
        event.target.parentElement.remove();
      }
    });
  });
</script>






<%= form_with(model: part, class: 'needs-validation', novalidate: true) do |form| %>
  <% if part.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading">Validation Errors</h4>
      <ul>
        <% part.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :part_number, class: "form-label" %>
    <%= form.text_field :part_number, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :revision, class: "form-label" %>
    <%= form.text_field :revision, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :job, class: "form-label" %>
    <%= form.text_field :job, class: "form-control" %>
  </div>

  <div class="mb-3">
    <% unless form.object.new_record? %>
      <div>
        <%= form.label "Replace drawing:", class: "form-label" %>
        <%= form.file_field :drawing, class: "form-control" %>
      </div>
      <div class="d-flex align-items-center justify-content-between mt-3">
        <%= form.label "Remove current drawing:", class: "form-label mb-0" %>
        <%= link_to "remove", remove_drawing_part_path(part), class: 'btn btn-danger' %>
      </div>
    <% else %>
      <%= form.label "Add drawing:", class: "form-label" %>
      <%= form.file_field :drawing, class: "form-control" %>
    <% end %>
  </div>

  <% if form.object.new_record? || part.base_material.nil? %>
    <div class="mb-3">
      <%= form.label :field_type, "Does the part have subcomponents?", class: "form-label" %>
      <%= form.select :field_type, [["Yes", "yes"], ["No", "no"]], { prompt: "Select" }, { id: "base_selector", class: "form-select" } %>
    </div>

    <div id="base_material_field" style="display: none" class="mb-3">
      <%= form.label :base_material, class: "form-label" %>
      <%= form.text_field :base_material, class: "form-control" %>
    </div>

    <div id="subcomponent_field" style="display: none" class="mb-3">
      <div id="child-fields-container"></div>
      <button type="button" id="add-child-field" class="btn btn-primary">Add Component</button>
      <%= form.hidden_field :base_material, value: "subcomponent", id: "subcomponent-material-field" %>
    </div>
  <% elsif part.base_material == "subcomponent" %>
    <div class="mb-3">
      <strong>Subcomponents:</strong>
      <div id="child-fields-container">
        <% part.child_parts.each do |child| %>
          <div class="d-flex small mb-2">
            <p class="mb-0">PN# <%= child.part_number %> Rev <%= child.revision %></p>
          </div>
        <% end %>
      </div>
      <button type="button" id="add-child-field" class="btn btn-primary">Add Component</button>
    </div>
  <% else %>
    <div class="mb-3">
      <%= form.label :base_material, class: "form-label" %>
      <%= form.text_field :base_material, class: "form-control" %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :finish, class: "form-label" %>
    <%= form.text_field :finish, class: "form-control" %>
  </div>

  <% unless form.object.new_record? %>
    <div class="mb-3">
      <%= form.label "Part measured?", class: "form-label" %>
      <%= form.check_box :measured_status, class: "form-check-input" %>
    </div>
  <% end %>

  <div class="text-center">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
</div>

