<div id="<%= dom_id part %>">
  <p>
    <strong>Part number:</strong>
    <%= part.part_number %>
  </p>

  <p>
    <strong>Revision:</strong>
    <%= part.revision %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= part.job %>
  </p>

  <p>
    <strong>Drawing:</strong>
      <% if part.drawing.attached? %>
        <a href="<%= rails_blob_url(part.drawing, disposition: "attachment") %>" class="btn btn-info">
          download
          <img src="<%= asset_path('color_download_pdf.png') %>" alt="Download PDF" style="width: 20px; height: 20px;">
        </a>
      <% else %>
        <p>No drawing on file.</p>
      <% end %>
  </p>



  <p>
    <strong>Base material:</strong>
    <%= part.base_material %>
  </p>

  <p>
    <strong>Finish:</strong>
    <%= part.finish %>
  </p>

  <p>
    <strong>Measured status:</strong>
    <%= part.measured_status %>
  </p>

</div>

