<div id="<%= dom_id part %>">
  <p>
    <strong>Part number:</strong>
    <%= part.part_number %>
  </p>

  <p>
    <strong>Revision:</strong>
    <%= part.revision %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= part.job %>
  </p>

  <p>
    <strong>Drawing:</strong>
    <%= part.drawing %>
  </p>

  <p>
    <strong>Base material:</strong>
    <%= part.base_material %>
  </p>

  <p>
    <strong>Finish:</strong>
    <%= part.finish %>
  </p>

  <p>
    <strong>Measured status:</strong>
    <%= part.measured_status %>
  </p>

</div>
