<%= search_form_for @q do |f| %>
  <%= f.grouping_fields(f.object.new_grouping) do |g| %>
    <%= g.condition_fields(g.object.new_condition) do |c| %>
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select only: %i(part_number part_revision base_material finish) %>
      <% end %>
      <span id="predicate_field">
        <%= c.predicate_select only: %i(eq not_eq cont), id: 'predicate_select' %>
      </span>
      <%= c.value_fields do |v| %>
        <span id="value_input">
          <%= v.text_field :value, id: 'condition_value' %>
        </span>
      <% end %>
    <% end %>
  <% end %>
  <div>
    <%= f.label :measured_status %>
    <%= f.select :measured_status_eq, [['Yes', true], ['No', false]], include_blank: 'All' %>
  </div>
  <%= f.submit "Search", class: 'btn btn-primary' %>
<% end %>


<table class="table table-striped-columns table-hover">
    <thead>
        <tr>
            <% if current_page?(parts_path) %>
                <th scope="col">
                    <%= sort_link(@q, :quality_project_id, "Quality project") %>
                </th> 
                <th scope="col">
                    <%= sort_link(@q, :quality_project_customer, "Customer") %>
                </th>                    
                <th scope="col">
                    <%= sort_link(@q, :part_number, "Part number") %>
                </th>
                <th scope="col">
                    <%= sort_link(@q, :revision, "Part revision") %>
                </th>
                <th scope="col">
                    <%= sort_link(@q, :base_material, "Base material") %>
                </th>
                <th scope="col">
                    <%= sort_link(@q, :finish, "Finish") %>
                </th>
                <th scope="col">
                    <%= sort_link(@q, :measured_status, "Measured") %>
                </th>
            <% else %>
                <th scope="col">Quality project</th>
                <th scope="col">Customer</th>
                <th scope="col">Part number</th>
                <th scope="col">Part revision</th>
                <th scope="col">Drawing</th>
                <th scope="col">Inspection plan</th>
                <th scope="col">Base material</th>
                <th scope="col">Finish</th>
                <th scope="col">Measured</th>
            <% end %>
        </tr>
    </thead>
    <% parts.top_parts.each do |part| %>
        <tbody>
            <%= render "parts/table_field", part: part %>

            <!--<% unless part.children.empty? %>
                <% part.child_parts.each do |child| %>
                    <%= render "parts/child_field", part: child %>
                <% end %>
            <% end %>-->
        </tbody>
    <% end %>
</table>
