<table class="table table-bordered table-striped-columns table-hover">
    <thead>
        <tr>
          <th scope="col">
              <%= sort_link(@part_query, :quality_project_id, "Quality project") %>
          </th> 
          <th scope="col">
              <%= sort_link(@part_query, :quality_project_customer, "Customer") %>
          </th>            
          <th scope="col">
              <%= sort_link(@part_query, :part_number, "Part number") %>
          </th>
          <th scope="col">
              <%= sort_link(@part_query, :revision, "Part revision") %>
          </th>
          <th scope="col">
              <%= sort_link(@part_query, :base_material, "Base material") %>
          </th>
          <th scope="col">
              <%= sort_link(@part_query, :finish, "Finish") %>
          </th>
          <th scope="col">
              <%= sort_link(@part_query, :measured_status, "Measured") %>
          </th>
        </tr>
    </thead>
    <% parts.top_parts.each do |part| %>
        <tbody>
            <%= render "parts/table_field", part: part %>

            <% unless part.children.empty? %>
                <% part.child_parts.each do |child| %>
                    <%= render "parts/child_field", part: child %>
                <% end %>
            <% end %>
        </tbody>
    <% end %>
</table>
