<td><%= part.quality_project.customer %></td>
<td><%= part.part_number %></td>
<td><%= part.revision %></td>
<td><%= part.drawing %></td>
<td><%= part.quality_project.inspection_plan %></td>
<td><%= part.base_material %></td>
<td><%= part.finish %></td>
<td><%= part.measured_status %></td>