<table class="table table-striped-columns table-hover">
    <thead>
        <tr>
            <th scope="col">
                <%= sort_link(@q, :quality_project_id, "Quality project") %>
            </th> 
            <th scope="col">
                <%= sort_link(@q, :quality_project_customer, "Customer") %>
            </th>                    
            <th scope="col">
                <%= sort_link(@q, :part_number, "Part number") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :revision, "Part revision") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :drawing, "Drawing") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :quality_project_inspection_plan, "Inspection plan") %>
            </th>   
            <th scope="col">
                <%= sort_link(@q, :base_material, "Base material") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :finish, "Finish") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :measured_status, "Measured") %>
            </th>
        </tr>
    </thead>
    <% parts.top_parts.each do |part| %>
        <tbody>
            <%= render "parts/table_field", part: part %>

            <% unless part.children.empty? %>
                <% part.child_parts.each do |child| %>
                    <%= render "parts/child_field", part: child %>
                <% end %>
            <% end %>
        </tbody>
    <% end %>
</table>
