<script>
  document.addEventListener("turbo:load", function() {
    const customerSelector = document.getElementById("customer_selector");
    const mctractorField = document.getElementById("mctractor_field");
    const sparkyField = document.getElementById("sparky_field");
    const sparkyCustomerRequest = document.getElementById("sparky_customer_request");
    const sparkyCustomerField = document.getElementById("sparky_customer_field");
    const hiddenCustomerRequest = document.getElementById("hidden_customer_field");
    const hiddenCustomerField = document.getElementById("hidden_customer_request_fiel");

    customerSelector.addEventListener("change", function() {
      const selectedValue = this.value;

      if (selectedValue === "mctractor") {
        mctractorField.style.display = "block";
        sparkyField.style.display = "none";
        sparkyCustomerRequest.removeAttribute("name");
        sparkyCustomerField.removeAttribute("name");
        hiddenCustomerRequest.removeAttribute("name");
        hiddenCustomerField.removeAttribute("name");
        mctractorCustomerRequest.setAttribute("name");
        mctractorCustomerField.setAttribute("name");
      } else if (selectedValue === "sparky") {
        mctractorField.style.display = "none";
        sparkyField.style.display = "block";
        sparkyCustomerRequest.setAttribute("name", "quality_project[customer_request]");
        sparkyCustomerField.setAttribute("name", "quality_project[customer]");
        hiddenCustomerRequest.removeAttribute("name");
        hiddenCustomerField.removeAttribute("name");
        mctractorCustomerRequest.removeAttribute("name");
        mctractorCustomerField.removeAttribute("name");
      } else {
        // Handle the case where no option is selected
        mctractorField.style.display = "none";
        sparkyField.style.display = "none";
        sparkyCustomerRequest.removeAttribute("name");
        sparkyCustomerField.removeAttribute("name");
        mctractorCustomerRequest.removeAttribute("name");
        mctractorCustomerField.removeAttribute("name");
        document.querySelector('input[name="quality_project[customer]"]').value = ""; // Set empty string
        document.querySelector('input[name="quality_project[customer_request]"]').value = ""; // Set empty string
      }
    });
  });
</script>

<%= form_with(model: quality_project) do |form| %>
  <% if quality_project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quality_project.errors.count, "error") %> prohibited this quality_project from being saved:</h2>

      <ul>
        <% quality_project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if form.object.new_record? %>
  <div>
    <%= form.label :customer, "Customer", style: "display: block" %>
    <%= form.select :customer, [["Sparky", "sparky"], ["McTractor", "mctractor"]], { prompt: "Select Customer" }, { id: "customer_selector" } %>
  </div>
  <% else %>
    <div>
    <%= form.label :customer, "Customer", style: "display: block" %>
    <%= form.text_field :customer,{ disabled:true } %>
  </div>
  <% end %>

  <div id="mctractor_field" style="display: none">
    <%= form.label :customer_request, style: "display: block" %>
    <%= form.text_field :customer_request %>
    <%= form.hidden_field :customer, value: "mctractor" %>
  </div>

  <div id="sparky_field" style="display: none">
    <%= form.hidden_field :customer_request, value: "not_applicable", id: "sparky_customer_request" %>
    <%= form.hidden_field :customer, value: "sparky", id: "sparky_customer_field" %>
  </div>

  <%= form.hidden_field :customer, value: "", id: "hidden_customer_field" %>
  <%= form.hidden_field :customer_request, value: "", id: "hidden_customer_request_field" %>
  <div>
  <%= form.label :customer_request, style: "display: block" %>
  <%= form.text_field :customer_request %>
  </div>

  <div>
    <%= form.label :purchase_order, style: "display: block" %>
    <%= form.text_field :purchase_order %>
  </div>


  <% unless form.object.new_record? %>
    <div class = "d-flex">
      <% if quality_project.inspection_plan.attached? %>
            
            <div>
              <%= form.label :inspection_plan, "Replace inspection plan:" %>
              <%= form.file_field :inspection_plan, class: "form-control" %>

              <%= form.label :report_approval, style: "display: block" %>
              <%= form.check_box :report_approval %>
            </div>
            <div>
              <%= link_to "Remove inspection plan", remove_inspection_plan_quality_project_path(quality_project), class: 'btn btn-danger' %>
            </div>
            
            
      <% else %>
            <%= form.label :inspection_plan, "Add inspection plan:" %>
            <%= form.file_field :inspection_plan, class: "form-control" %>
      <% end %>


    </div>

    <div class = "d-flex">
      <% if quality_project.inspection_plan.attached? %>
            <div>
            <%= form.label :assembled_record, "Replace assembled record:" %>
            <%= form.file_field :assembled_record, class: "form-control" %>
            <%= form.label :record_approval, style: "display: block" %>
            <%= form.check_box :record_approval %>
            </div>
            <div>
            <%= link_to "Remove assembled record", remove_inspection_plan_quality_project_path(quality_project), class: 'btn btn-danger' %>
            </div>
      <% else %>
            <%= form.label :assembled_record, "Add assembled record:" %>
            <%= form.file_field :assembled_record, class: "form-control" %>
      <% end %>

      
    </div>

    <div class = "d-flex">
      <%= form.label :customer_approval, style: "display: block" %>
      <%= form.select :approval_option, QualityProject.customer_options.map { |status| status } %>
    </div>
  <% end %>

  
  <% if form.object.new_record? %>
    <% @part_id = part_id %>
  <% else%>
    <% @part_id = quality_project.part_id%>
  <% end %>
  <%= form.hidden_field :part_id, value: @part_id %>
  
  <% @part = Part.find(@part_id)%>
  <%= render "part_list", part: @part %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
