<%= form_with(model: quality_project) do |form| %>
  <% if quality_project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quality_project.errors.count, "error") %> prohibited this quality_project from being saved:</h2>

      <ul>
        <% quality_project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


   <%= form.label :field_type, "Customer", style: "display: block" %>
    <%= form.select :field_type, [["Sparky", "sparky"], ["McTractor", "mctractor"]], { prompt: "Select Customer" }, { id: "customer_selector" } %>
  </div>

  <div id="mctractor_field" style="display: none">
    <%= form.label :customer_request, style: "display: block" %>
    <%= form.text_field :customer_request %>
  </div>

  <div id="sparky_field" style="display: none">
    <%= form.hidden_field :customer_request, value: "not_applicable" %>
  </div>

  <div>
    <%= form.label :purchase_order, style: "display: block" %>
    <%= form.text_field :purchase_order %>
  </div>
  
  <%= form.hidden_field :part_id, value: part_id %>

  <div>
    <%= form.submit %>
  </div>
<% end %>


