<div id="<%= dom_id quality_project %>">
  <p>
    <strong>Part:</strong>
    <%= quality_project.part_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= quality_project.customer %>
  </p>

  <p>
    <strong>Customer request:</strong>
    <%= quality_project.customer_request %>
  </p>

  <p>
    <strong>Purchase order:</strong>
    <%= quality_project.purchase_order %>
  </p>

  <p>
    <strong>Inspection plan:</strong>
    <%= quality_project.inspection_plan %>
  </p>

  <p>
    <strong>Report approval:</strong>
    <%= quality_project.report_approval %>
  </p>

  <p>
    <strong>Assembled record:</strong>
    <%= quality_project.assembled_record %>
  </p>

  <p>
    <strong>Customer approval:</strong>
    <%= quality_project.customer_approval %>
  </p>
  <% @part = Part.find(quality_project.part_id) %>
  <%= render "part_list", part: @part %>

</div>
