<div id="<%= dom_id quality_project %>">
  <p>
    <strong>Part:</strong>
    <%= quality_project.part_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= quality_project.customer %>
  </p>

  <p>
    <strong>Customer request:</strong>
    <%= quality_project.customer_request %>
  </p>

  <p>
    <strong>Purchase order:</strong>
    <%= quality_project.purchase_order %>
  </p>

  <p>
    <strong>Inspection plan:</strong>
    <% if quality_project.inspection_plan.attached? %>
        <a href="<%= rails_blob_url(quality_project.inspection_plan, disposition: "attachment") %>" class="btn btn-info">
          download
          <img src="<%= asset_path('color_sheet.png') %>" alt="Download Excel" style="width: 20px; height: 20px;">
        </a>
      <% else %>
        <p>No inspection plan on file.</p>
      <% end %>
  </p>

  <p>
    <strong>Report approval:</strong>
    <%= quality_project.report_approval %>
  </p>

  <p>
    <strong>Assembled record:</strong>
    <% if quality_project.assembled_record.attached? %>
        <a href="<%= rails_blob_url(quality_project.assembled_record, disposition: "attachment") %>" class="btn btn-info">
          download
          <img src="<%= asset_path('color_sheet.png') %>" alt="Download Excel" style="width: 20px; height: 20px;">
        </a>
      <% else %>
        <p>No assembled record on file.</p>
      <% end %>
  </p>

  <p>
    <strong>Customer approval:</strong>
    <%= quality_project.customer_approval %>
  </p>
  <% @part = Part.find(quality_project.part_id) %>
  <%= render "part_list", part: @part %>

</div>
