<td><%= link_to quality_project.id, quality_project_path(quality_project) %></td>
<td><%= quality_project.customer %></td>
<td><%= quality_project.part.part_number %></td>
<td><%= quality_project.part.revision %></td>

<% if quality_project.customer_request == nil %>
    <td class="text-danger">Not available</td>
<% elsif quality_project.customer_request == "not_applicable" %>
    <td>Not required</td>
<% else %>
    <td><%= quality_project.customer_request %></td>
<% end %>

<td><%= quality_project.purchase_order %></td>

<% if quality_project.report_approval == nil %>
<td>Not available</td>
<% elsif quality_project.report_approval == false%>
<td class="text-danger">Requires approval</td>
<% else %>
<td class="text-success">Approved</td>
<% end %>

<% if quality_project.record_approval == nil %>
<td>Not available</td>
<% elsif quality_project.record_approval == false%>
<td class="text-danger">Requires approval</td>
<% else %>
<td class="text-success">Approved</td>
<% end %>

<% case quality_project.customer_approval %>
<% when "unready" %>
    <td>Not ready</td>
<% when "ready" %>
    <td>Ready for customer</td>
<% when "sent" %>
    <td>Sent to customer</td>
<% when "approved" %>
    <td class = "text-success">Approved</td>
<% when "rejected" %>
    <td class = "text-danger">Rejected</td>
<% end %>