<%= search_form_for @q do |f| %>
  <%= f.grouping_fields(f.object.new_grouping) do |g| %>
    <%= g.condition_fields(g.object.new_condition) do |c| %>
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select only: %i(id customer part_number part_revision customer_request purchase_order) %>
      <% end %>
      <%= c.predicate_select only: %i(cont not_eq eq) %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    <% end %>
  <% end %>
  <div>
    <%= f.label :report_approval %>
    <%= f.select :report_approval_eq, [['Approved', true], ['Needs approval', false]], include_blank: 'All' %>
  </div>
  <div>
    <%= f.label :record_approval %>
    <%= f.select :record_approval_eq, [['Approved', true], ['Needs approval', false]], include_blank: 'All' %>
  </div>
  
  
  <%= f.submit "Search", class: 'btn btn-primary' %>
<% end %>

<table class="table table-striped-columns table-hover">
    <thead>
        <% if current_page?(quality_projects_path) %>
        <tr>
            <th scope="col">
                <%= sort_link(@q, :id, "Quality project") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :customer, "Customer") %>
            </th>                    
            <th scope="col">
                <%= sort_link(@q, :part_part_number, "Part number") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :part_revision, "Part revision") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :customer_request, "Customer request") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :purchase_order, "Purchase order") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :report_approval, "Report approval") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :record_approval, "Record approval") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :customer_approval, "Customer approval") %>
            </th>
        </tr>
        <% else %>
            <th scope="col">Quality project</th>
            <th scope="col">Customer</th>
            <th scope="col">Part number</th>
            <th scope="col">Part revision</th>
            <th scope="col">Customer request</th>
            <th scope="col">Purchase order</th>
            <th scope="col">Inspection plan</th>
            <th scope="col">Assembled record</th>
            <th scope="col">Customer approval</th>
        <% end %>
    </thead>
    <tbody>
        <% quality_projects.each do |quality_project| %>
            <tr>
                <%= render "quality_projects/table_field", quality_project: quality_project %>
            </tr>
        <% end %>
        
    </tbody>
</table>
