
  <table class="table table-bordered table-striped-columns table-hover">
      <thead>
        <tr>
            <th scope="col">
                <%= sort_link(@quality_project_query, :id, "Quality project") %>
            </th>
            <th scope="col">
                <%= sort_link(@quality_project_query, :customer, "Customer") %>
            </th>                    
            <th scope="col">
                <%= sort_link(@quality_project_query, :part_part_number, "Part number") %>
            </th>
            <th scope="col">
                <%= sort_link(@quality_project_query, :part_revision, "Part revision") %>
            </th>
            <th scope="col">
                <%= sort_link(@quality_project_query, :customer_request, "Customer request") %>
            </th>
            <th scope="col">
                <%= sort_link(@quality_project_query, :purchase_order, "Purchase order") %>
            </th>
            <th scope="col">
                <%= sort_link(@quality_project_query, :report_approval, "Report approval") %>
            </th>
            <th scope="col">
                <%= sort_link(@quality_project_query, :record_approval, "Record approval") %>
            </th>
            <th scope="col">
                <%= sort_link(@quality_project_query, :customer_approval, "Customer approval") %>
            </th>
        </tr>
      </thead>
      <tbody>
          <% quality_projects.each do |quality_project| %>
              <tr>
                  <%= render "quality_projects/table_field", quality_project: quality_project %>
              </tr>
          <% end %>
          
      </tbody>
  </table>
