<%= search_form_for @q, url: quality_projects_path do |f| %>

  <div>
    <%= f.label "Project number equals: " %>
    <%= f.search_field :id_eq %>
  </div>

  <div>
    <%= f.label :customer_cont %>
    <%= f.search_field :customer_cont %>
  </div>

  <div>
    <%= f.label :part_part_number_cont %>
    <%= f.search_field :part_part_number_cont %>
  </div>

  <div>
    <%= f.label :part_revision_cont %>
    <%= f.search_field :part_revision_cont %>
  </div>

  <div>
    <%= f.label :part_revision_cont %>
    <%= f.search_field :part_revision_cont %>
  </div>

  <div>
    <%= f.label :customer_request_cont %>
    <%= f.search_field :customer_request_cont %>
  </div>

  <div>
    <%= f.label :purchase_order_cont %>
    <%= f.search_field :purchase_order_cont %>
  </div>

  <div>
    <%= f.label :report_approval %>
    <%= f.select :report_approval_eq, [['Approved', true], ['Needs approval', false], ['Not available', 'nil']], include_blank: 'All' %>
  </div>

  <div>
    <%= f.label :record_approval %>
    <%= f.select :record_approval_eq, [['Approved', true], ['Needs approval', false], ['Not available', 'nil']], include_blank: 'All' %>
  </div>

  <div>
    <%= f.label :customer_approval %>
    <%= f.select :customer_approval_eq, QualityProject.customer_options, include_blank: 'All' %>
  </div>
  
  <%= f.submit "Search", class: 'btn btn-primary' %>
<% end %>

<table class="table table-striped-columns table-hover">
    <thead>
        <% if current_page?(quality_projects_path) %>
        <tr>
            <th scope="col">
                <%= sort_link(@q, :id, "Quality project") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :customer, "Customer") %>
            </th>                    
            <th scope="col">
                <%= sort_link(@q, :part_part_number, "Part number") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :part_revision, "Part revision") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :customer_request, "Customer request") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :purchase_order, "Purchase order") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :report_approval, "Report approval") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :record_approval, "Record approval") %>
            </th>
            <th scope="col">
                <%= sort_link(@q, :customer_approval, "Customer approval") %>
            </th>
        </tr>
        <% else %>
            <th scope="col">Quality project</th>
            <th scope="col">Customer</th>
            <th scope="col">Part number</th>
            <th scope="col">Part revision</th>
            <th scope="col">Customer request</th>
            <th scope="col">Purchase order</th>
            <th scope="col">Inspection plan</th>
            <th scope="col">Assembled record</th>
            <th scope="col">Customer approval</th>
        <% end %>
    </thead>
    <tbody>
        <% quality_projects.each do |quality_project| %>
            <tr>
                <%= render "quality_projects/table_field", quality_project: quality_project %>
            </tr>
        <% end %>
        
    </tbody>
</table>
