<!DOCTYPE html>
<html>
  <head>
    <title>QualityTrackr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render "shared/cdn_links" %>

    <style>
      a {
          text-decoration: none;
          color: black;
        }
    </style>
  </head>

  <body>
    <div class="mb-2">
      <%= render "shared/nav" %>
    </div>
    <div class="mb-2">
      <%= render "shared/flash" %>
    </div>
    
    <%= yield %>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const customerSelector = document.getElementById("customer_selector");
      const mctractorField = document.getElementById("mctractor_field");
      const sparkyField = document.getElementById("sparky_field");
      const sparkyCustomerRequest = document.getElementById("sparky_customer_request");
      const sparkyCustomerField = document.getElementById("sparky_customer_field");

      customerSelector.addEventListener("change", function() {
        const selectedValue = this.value;

         if (selectedValue === "mctractor") {
            mctractorField.style.display = "block";
            sparkyField.style.display = "none";
            sparkyCustomerRequest.removeAttribute("name");
            sparkyCustomerField.removeAttribute("name");
          } else {
            mctractorField.style.display = "none";
            sparkyField.style.display = "block";
            sparkyCustomerRequest.setAttribute("name", "quality_project[customer_request]");
            sparkyCustomerField.setAttribute("name", "quality_project[customer_request]");
          }
      });
    });
  </script>
</html>
