<!DOCTYPE html>
<html>
  <head>
    <title>QualityTrackr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render "shared/cdn_links" %>

    <style>
      a {
          text-decoration: none;
          color: black;
        }
    </style>
  </head>

  <body>
    <div class="mb-2">
      <%= render "shared/nav" %>
    </div>
    <div class="mb-2">
      <%= render "shared/flash" %>
    </div>
    
    <%= yield %>
  </body>
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    const customerSelector = document.getElementById("customer_selector");
    const mctractorField = document.getElementById("mctractor_field");
    const sparkyField = document.getElementById("sparky_field");

    customerSelector.addEventListener("change", function() {
      const selectedValue = this.value;

      mctractorField.style.display = selectedValue === "mctractor" ? "block" : "none";
      sparkyField.style.display = selectedValue === "sparky" ? "block" : "none";
    });
  });
</script>
</html>
