<!DOCTYPE html>
<html>
  <head>
    <title>QualityTrackr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render "shared/cdn_links" %>

    <style>
      .mask-custom {
        backdrop-filter: blur(3px);
        background-color: rgba(0,0,0,0.7);
      }
      .nav-tabs {
        border:none;
      }
    </style>

  </head>

  <body>
    <% unless @no_default_navbar%>
      <div class="mb-2">
        <%= render "shared/nav" %>
      </div>

      <div class="mb-2">
        <%= render "shared/flash" %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
